<div class="container-fluid">
    <div class="row">
        <form action="">
            <div class="d-flex">
                <div class="form-inline mr-auto">
                    <input type="text" [(ngModel)]="filtroLista" name="filtroList" (ngModelChange)="filtroLista = $event" class="form-control mr-2" placeholder="buscar">
                    <h5>Filtro: {{filtroLista}}</h5>
                </div>
                <div style="margin-left: 685px;">
                    <button class="btn btn-primary" (click)="novoEvento(template)">
                <i class="fa fa-plus-circle"></i> Novo Registro
              </button>
                </div>
            </div>
        </form>
    </div>
<hr>
<br>
    <div class="row">
        <table class="table table-dark">
          <thead>
            <tr>              
              <th scope="col">#</th>
              <th scope="col">Nome</th>
              <th scope="col">Registro Ponto</th>
              <th scope="col">Entrada/Saída</th>
              <th scope="col">Opções</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ponto of eventosFiltrados">             
              <td>{{ponto.id}}</td>
              <td>{{ponto.nome}}</td>
              <td>{{ponto.registro}}</td>
              <td>{{ponto.entradaSaida}}</td>                                   
              <td>
                <button class="btn btn-sm btn-primary" tooltip="Editar" >
                  <i class="fa fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-warning" tooltip="Apagar" (click)="excluirEvento(ponto, confirm)">
                  <i class="fa fa-eraser"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                <h6>Total: 0</h6>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>

      <div class="row">
        <div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog"
          aria-labelledby="dialog-sizes-name1">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Novo Registro: </h4>
                <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form [formGroup]="registerForm">
                  <div class="form-row">
                    <div class="form-group col-md-12">
                      <label>Nome</label>
                      <input type="text" class="form-control"
                        formControlName="nome">                     
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <label>Entrada/Saída</label>
                      <input type="text" class="form-control"
                        formControlName="entradaSaida">                     
                    </div>
                    <div class="form-group col-md-4">
                      <label>Registro</label>
                      <input type="text" class="form-control"
                        [ngClass]="{'is-invalid': registerForm.get('registro').errors && registerForm.get('registro').touched}"
                        formControlName="registro" bsDatepicker [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }">
                      <div class="invalid-feedback">
                        registro Obrigatório
                      </div>
                    </div>
                  </div>                 
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn btn-secondary" (click)="template.hide()">
                  Fechar
                </button>
                <button class="btn btn-primary" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
                  Salvar Alterações
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

</div>


<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">
          Deletando Ponto de Registro
        </h4>
        <button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{bodyDeletarEvento}}</p>
      </div>
      <div class="modal-footer btn-group d-flex">
        <button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
          CANCELAR
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          DELETAR
        </button>
      </div>
    </div>
  </div>
</div>